body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

p {
    color: white;
}

li {
    color: white;
}

label {
    color: white;
}

#quiz-container {
    background-color: silver;
    border-radius: 2px;

    padding: 20px;

    height: 300px;
    width: 800px;

}

#question-container {


}

#multiple-choice {

}